REACT_APP_APIKEY= AIzaSyC4Azx2ZMrM8lGrwqMkYHP0IxtAmD9q41A
  REACT_APP_AUTHDOMAIN= dented-code-projects.firebaseapp.com
  REACT_APP_PROJECTID= dented-code-projects
  REACT_APP_STORAGEBUCKET= dented-code-projects.appspot.com
  REACT_APP_MESSAGINGSENDERID= 623098220898
  REACT_APP_APPID= 1:623098220898:web:91cd3174a2849b273edc3b